body, html {
  margin: 0;
  padding: 0;
  font-size: 48px;
  overflow-x: hidden;
}

#debug-check {
  position: absolute;
  top: 0;
  z-index: 1000;
}
.sticky {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) !important;
}
