// scale_factor

// transform: translateZ(-1px) scale(2)

// 1 + (translateZ * -1) / perspective

@perspective: 300px;

#debug-check {
  position: absolute;
  top: 0;
  z-index: 1000;
}

.transform_factor(@persp, @tranZ) {
  transform: translateZ(@tranZ) scale(1 + (@tranZ * -1) / @persp);
}

body, html {
  margin: 0;
  padding: 0;
}

.parallax {
  perspective: @perspective;
  height: 200%;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax-group {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  // background-color: green;
  transition: transform 0.5s;

  &.debug {
    transform: translate3d(700px, 0, -800px) rotateY(30deg);
  }
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer1, .layer2 {
}

.layerbackground {
  @layerbg_trans: -10px;
  .transform_factor(@perspective, @layerbg_trans);

  height: 800%;
  line-height: 800%;
  text-align: center;
  background-image: url('../assets/geometry2.png');
}

.layer1 {
  @layer1_trans: -5px;
  .transform_factor(@perspective, @layer1_trans);

  height: 200%;
  line-height: 200%;
  text-align: center;
  background-color: yellow;
}

.layer2 {
  @layer1_trans: -3px;
  .transform_factor(@perspective, @layer1_trans);

  height: 100%;
  line-height: 100%;
  text-align: center;
  background-color: red;
}

.layerbackground {

}
